@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F9F9F9;
}

input[type=text]{
  width: 100%;
  background-color: #E9E9EB;
}

.bg-input{
  background-color: #E9E9EB;
}